.App {
    width: 600px;
    margin: 20px auto;
    padding: 20px;
}

@media screen and (max-device-width: 800px) {
    .App { /* mobile */
        width: 100%;
        margin: 20px 0;
    }
}

.App form {
    width: 600px;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.row .label {
    flex: 1 0 auto;
}

.row .field input {
    width: 100px;
    text-align: right;
}
